body {
    background-color: #0d0d0d; 
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-fotos {
    width: 90%;
    max-width: 900px;
    min-height: 300px;
    border: 1px solid #333;
    background-color: #141414;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    margin-bottom: 150px; 
    justify-content: center;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    border: 3px solid transparent;
    transition: 0.3s;
}


.seleccionada {
    border-color: #280bce; 
    transform: scale(1.05);
}

.panel-inferior {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1a1a1a;
    border-top: 1px solid #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: 0 -5px 15px rgba(0,0,0,0.5);
}

input {
    width: 80%;
    max-width: 500px;
    padding: 10px;
    background: #000;
    border: 1px solid #444;
    color: white;
    border-radius: 4px;
}

.botones {
    display: flex;
    gap: 20px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background: #ffffff;
    color: #000;
    border: none;
    font-weight: bold;
    border-radius: 4px;
}

button:hover {
    background: #cccccc;
}

.btn-borrar {
    background: #c0392b;
    color: white;
}

.btn-borrar:hover {
    background: #e74c3c;
}